body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
}

/*ZONA MENU*/

/* Stile generale del corpo della pagina, con font, margini, padding e colore di sfondo */
header{
	text-align: center;
	background-color: white;
        padding: 10px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999
}
.navbar {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
}

/* Dimensione dell'immagine del logo nell'intestazione */
.navbar .logo img{
    width: 80px;
    height: auto;
}
/* Stile del menu di navigazione, con sfondo bianco, testo centrato e padding */    
.navbar .nav-links {
    list-style: none;
    display: flex;
	padding: 0;
	padding-top: 10px;
    margin: 0;
    transition: all 0.3s ease;  /* Aggiunta una transizione per vedere il cambio */
}
.navbar .nav-links li {
    margin: 0 10px;
	display: inline;
}

/* Rimuove i puntatori della lista, il padding e i margini di default del menu di navigazione */

.navbar .nav-links a {
    color: #ec1c89;
    text-decoration: none;
    font-size: 24px;
}
.navbar .nav-links a:hover {
    color: black;
}

.navbar .menu-icon {
    display: none;
    font-size: 28px;
    color: #ec1c89;
    cursor: pointer;
}


/* Nascondi la sezione recensioni per dispositivi mobili */
#esperienze {
    display: block; /* Mostra la sezione recensioni per default */
}



/* Stili per lo slider */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Stili per la paginazione */
.swiper-pagination {
    bottom: 10px;
}
/* Stili per il popup */
.popup {
    display: none; /* Nascondi il popup per default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sfondo scuro trasparente */
    z-index: 1000; /* Sovrappone al resto del contenuto */
    align-items: center; /* Centra il contenuto verticalmente */
    justify-content: center; /* Centra il contenuto orizzontalmente */
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.popup-content h1 {
    color: #ec1c89;
    font-size: 24px;
    margin-bottom: 10px;
}

.popup-content p {
    color: #ec1c89;
    font-size: 16px;
    margin-bottom: 10px;
}

.popup-content p strong {
    color: #ec1c89;
}

.popup-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ec1c89;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.popup-content .btn:hover {
    background: #d01a7e; /* Colore leggermente più scuro per l'hover */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #ec1c89;
}

.close-btn:hover {
    color: #d01a7e;
}

/*CORPO*/
        section {
            padding: 50px 0;
            text-align: center;
        }
        /* Stile delle sezioni della pagina: padding e testo centrato */
        
        h2 {
            color: #ec1c89;
        }
        /* Colore dei titoli h2 */
        
        .content {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        /* Stile del contenitore del contenuto: display flessibile, distribuzione degli elementi e wrapping */
        
        .content div {
            width: 30%;
            margin-bottom: 30px;
            text-align: center;
        }
        /* Stile dei div all'interno del contenitore del contenuto: larghezza, margine e testo centrato */
        
        .content img {
            max-width: 100%;
            height: auto;
        }
        /* Dimensione delle immagini nel contenuto: larghezza massima e altezza proporzionale */
        
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
footer a {
	color: #ec1c89;
}
        /* Stile del footer: colore di sfondo, colore del testo, padding e testo centrato */
        

/* Stili per la versione desktop */
.how-it-works {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.how-it-works h2 {
    color: #ec1c89;
    margin-bottom: 40px;
}

.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.step {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: center;
}

.step-number {
    font-size: 36px;
    color: #ec1c89;
    display: block;
    margin-bottom: 10px;
}

.step h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.step p {
    font-size: 18px;
    color: #333;
}



 .booking-box {
        background-color: #fff;
        padding: 40px;
        max-width: 600px;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
    }
    .booking-box h2 {
        color: #ec1c89;
        margin-bottom: 20px;
        text-align: center;
    }
    .booking-box label {
        font-size: 18px;
        color: #333;
        display: block;
        margin-bottom: 5px;
    }
    .booking-box select,
    .booking-box input[type="date"],
    .booking-box textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .booking-box button {
        background-color: #ec1c89;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        display: block;
        width: 100%;
        text-align: center;
    }
    .booking-box button:hover {
        background-color: #d81b74;
    }
  .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .social-media {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
/* Contenitore delle informazioni di contatto */
.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* Social media (Instagram) */
.social-media, .phone-number {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Logo Instagram e icona della cornetta */
.social-logo, .phone-logo {
    width: 30px; /* Dimensione dell'icona */
    height: auto;
    margin-right: 10px;
}
/* Definizione dell'animazione di rimbalzo */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posizione originale */
    }
    40% {
        transform: translateY(-20px); /* Solleva l'icona */
    }
    60% {
        transform: translateY(-15px); /* Parziale ritorno alla posizione originale */
    }
	
}
.social-logo, .phone-logo {
    width: 50px; /* Dimensione iniziale dell'icona */
    height: auto; /* Mantiene le proporzioni dell'icona */
    animation: bounce 2s infinite; /* Applica l'animazione di rimbalzo per 2 secondi, ripetuta all'infinito */
}
/* Stile del testo per nome utente Instagram e numero di telefono */
.social-media p, .phone-number p {
    font-size: 18px;
    color: #333;
}
/* Menu a tendina per mobile */
.menu-toggle {
    display: none; /* Nasconde il menu toggle di default */
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cart-icon-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.cart-icon {
    font-size: 24px;
    color: #ec1c89;
}

/*RESPONSIVE*/

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }

  .navbar .nav-links {
    display: none; /* Nasconde il menu principale di default */
    flex-direction: column;
    width: 100%;
    background-color: #fff; /* Imposta lo sfondo bianco */
    position: absolute;
    top: 60px; /* Regola in base all'altezza dell'intestazione */
    left: 0;
    z-index: 1001; /* Assicurati che sia sopra allo slider */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra per un effetto di elevazione */
}

.navbar .nav-links.active {
    display: flex; /* Mostra il menu quando è attivo */
    .navbar .menu-icon {
        display: block;
        z-index: 2;
        position: relative;
    }
}
.menu-icon {
    display: block; /* Assicurati che il pulsante sia visibile */
    font-size: 28px;
    color: #ec1c89;
    cursor: pointer;
    z-index: 1002; /* Assicurati che sia sopra agli altri elementi */
    position: relative; /* Per garantire che l'icona si posizioni correttamente */
}






/* Nascondi la sezione recensioni su dispositivi mobili */
@media (max-width: 768px) {
    #esperienze {
        display: none;
    }
    
    .slider-section {
        display: block; /* Mostra lo slider sui dispositivi mobili */
    }
}

/* Nascondi lo slider sui dispositivi più grandi */
@media (min-width: 769px) {
    .slider-section {
        display: none;
    }
}
/* Stili per la visualizzazione su dispositivi mobili */
@media (max-width: 768px) {
    .how-it-works {
        padding: 20px;
        text-align: left;
    }

    .steps {
        display: flex;
        flex-direction: column;
    }

    .step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px; /* Spazio tra i passi */
        text-align: left; /* Allinea il testo a sinistra */
    }

    .step-number {
        font-size: 24px;
        margin-right: 15px; /* Spazio tra il numero e la spiegazione */
        margin-bottom: 0; /* Rimuove il margine inferiore */
    }

    .step h3 {
        font-size: 20px;
        margin: 0;
    }

    .step p {
        font-size: 16px;
        margin-top: 5px;
    }
}
@media (max-width: 768px) {
            nav ul li {
                display: block;
                margin-bottom: 10px;
 	}
            /* Stile per schermi con larghezza massima di 768px: gli elementi del menu diventano verticali e con margine inferiore */
            
            nav ul li a {
                font-size: 20px;
            }
            /* Riduce la dimensione del testo nei link del menu */
            
            .cart-icon {
                display: block;
                margin: 10px auto;
            }
            /* L'icona del carrello diventa un elemento di blocco centrato con margine superiore e inferiore */
            
            .content div {
                width: 45%;
            }
            /* Aumenta la larghezza dei div del contenuto al 45% del contenitore */

	.toggle_btn{
		display: block;
	}
.dropdown {
        display: none;
    }
    .dropdown.open {
        display: block;
    }

    .nav-links {
        display: none; /* Nasconde il menu principale */
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .cart-icon-container {
        display: none;
    }
}
        
@media (max-width: 480px) {
            .content div {
                width: 100%;
            }
            /* Per schermi con larghezza massima di 480px: i div del contenuto occupano il 100% del contenitore */
            
            nav ul li a {
                font-size: 18px;
            }
            /* Riduce ulteriormente la dimensione del testo nei link del menu */
            
            section {
                padding: 30px 0;
            }
            /* Riduce il padding delle sezioni */
        }
