/* Stile generale del corpo della pagina */
body {
    font-family: Arial, sans-serif; /* Font principale */
    margin: 0; /* Rimuove i margini di default */
    padding: 0; /* Rimuove il padding di default */
    background-color: #f8f8f8; /* Colore di sfondo */
}

/* Header e Navbar */
header {
    text-align: center; /* Allinea il testo al centro */
    background-color: white; /* Colore di sfondo bianco */
    padding: 10px 0; /* Padding superiore e inferiore */
    position: fixed; /* Fissa l'header in alto */
    width: 100%; /* Larghezza completa */
    top: 0; /* Posiziona l'header in cima */
    left: 0; /* Allinea a sinistra */
    z-index: 999; /* Z-index per sovrapposizione */
}

.navbar {
    display: flex; /* Usa il layout flex */
    flex-direction: column; /* Dispone gli elementi in colonna */
    justify-content: space-between; /* Spazio tra gli elementi */
    align-items: center; /* Allinea gli elementi al centro */
    background-color: #fff; /* Colore di sfondo bianco */
    padding: 15px; /* Padding interno */
}

.navbar .logo img {
    width: 80px; /* Larghezza dell'immagine */
    height: auto; /* Mantiene le proporzioni */
}

.navbar .nav-links {
    list-style: none; /* Rimuove i puntatori della lista */
    display: flex; /* Usa il layout flex */
    justify-content: center; /* Allinea gli elementi al centro */
    align-items: center; /* Centra verticalmente gli elementi */
    padding: 0; /* Rimuove il padding */
    padding-top: 10px; /* Aggiunge padding in cima */
    margin: 0; /* Rimuove i margini */
    transition: all 0.3s ease; /* Aggiunge una transizione */
}

.navbar .nav-links li {
    margin: 0 10px; /* Margine laterale per ogni link */
    display: inline; /* Dispone gli elementi in linea */
}

.navbar .nav-links a {
    color: #ec1c89; /* Colore del testo */
    text-decoration: none; /* Rimuove la sottolineatura */
    font-size: 24px; /* Dimensione del testo */
}

.navbar .nav-links a:hover {
    color: black; /* Colore al passaggio del mouse */
}

.navbar .menu-icon {
    display: none; /* Nasconde l'icona del menu di default */
    font-size: 28px; /* Dimensione dell'icona */
    color: #ec1c89; /* Colore dell'icona */
    cursor: pointer; /* Cambia il cursore al passaggio */
}

.cart-icon-container {
    display: flex; /* Usa il layout flex */
    align-items: center; /* Allinea al centro verticalmente */
    margin-left: auto; /* Spinge a destra l'icona del carrello */
}

.cart-icon {
    font-size: 24px; /* Dimensione dell'icona del carrello */
    color: #ec1c89; /* Colore dell'icona */
}

/* Sezione Esperienze */
#esperienze {
    display: block; /* Mostra la sezione recensioni per default */
}

/* Slider */
.swiper-container {
    width: 100%; /* Larghezza completa */
    height: 100%; /* Altezza completa */
}

.swiper-slide {
    display: flex; /* Usa il layout flex */
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center; /* Allinea gli elementi al centro */
}

.swiper-slide img {
    width: 100%; /* Larghezza completa */
    height: auto; /* Mantiene le proporzioni */
    object-fit: cover; /* Adatta l'immagine al contenitore */
}

.swiper-pagination {
    bottom: 10px; /* Posizione della paginazione */
}

/* Popup */
.popup {
    display: none; /* Nasconde il popup per default */
    position: fixed; /* Fissa il popup in posizione */
    top: 0; /* Posiziona in alto */
    left: 0; /* Allinea a sinistra */
    width: 100%; /* Larghezza completa */
    height: 100%; /* Altezza completa */
    background: rgba(0, 0, 0, 0.5); /* Sfondo scuro trasparente */
    z-index: 1000; /* Sovrappone al resto del contenuto */
    align-items: center; /* Centra verticalmente il popup */
    justify-content: center; /* Centra orizzontalmente il popup */
}

.popup-content {
    background: #fff; /* Sfondo bianco */
    padding: 20px; /* Padding interno */
    border-radius: 10px; /* Angoli arrotondati */
    width: 80%; /* Larghezza relativa */
    max-width: 500px; /* Larghezza massima */
    text-align: center; /* Testo centrato */
}

.popup-content h1 {
    color: #ec1c89; /* Colore del titolo */
    font-size: 24px; /* Dimensione del titolo */
    margin-bottom: 10px; /* Margine inferiore */
}

.popup-content p {
    color: #ec1c89; /* Colore del testo */
    font-size: 16px; /* Dimensione del testo */
    margin-bottom: 10px; /* Margine inferiore */
}

.popup-content p strong {
    color: #ec1c89; /* Colore del testo in grassetto */
}

.popup-content .btn {
    display: inline-block; /* Visualizzazione inline block */
    padding: 10px 20px; /* Padding interno */
    background: #ec1c89; /* Colore di sfondo del bottone */
    color: #fff; /* Colore del testo */
    text-decoration: none; /* Rimuove la sottolineatura */
    border-radius: 5px; /* Angoli arrotondati */
}

.popup-content .btn:hover {
    background: #d01a7e; /* Colore leggermente più scuro per l'hover */
}

.close-btn {
    position: absolute; /* Posizione assoluta */
    top: 10px; /* Posiziona in alto */
    right: 10px; /* Allinea a destra */
    font-size: 24px; /* Dimensione del testo */
    cursor: pointer; /* Cambia il cursore al passaggio */
    color: #ec1c89; /* Colore del bottone */
}

.close-btn:hover {
    color: #d01a7e; /* Colore dell'hover */
}

/* Corpo della pagina */
section {
    padding: 50px 0; /* Padding superiore e inferiore */
    text-align: center; /* Testo centrato */
}

h2 {
    color: #ec1c89; /* Colore dei titoli h2 */
}

.content {
    display: flex; /* Usa il layout flex */
    justify-content: space-around; /* Distribuisce gli elementi */
    flex-wrap: wrap; /* Permette il wrapping degli elementi */
    margin-top: 20px; /* Margine superiore */
}

.content div {
    width: 30%; /* Larghezza relativa dei contenitori */
    margin-bottom: 30px; /* Margine inferiore */
    text-align: center; /* Testo centrato */
}

.content img {
    max-width: 100%; /* Larghezza massima delle immagini */
    height: auto; /* Mantiene le proporzioni */
}

/* Footer */
footer {
    background-color: #333; /* Colore di sfondo scuro */
    color: #fff; /* Colore del testo bianco */
    padding: 20px 0; /* Padding superiore e inferiore */
    text-align: center; /* Testo centrato */
}

footer a {
    color: #ec1c89; /* Colore dei link nel footer */
}

/* Sezione "How it works" */
.how-it-works {
    background-color: #fff; /* Sfondo bianco */
    padding: 50px 20px; /* Padding interno */
    text-align: center; /* Testo centrato */
}

.how-it-works h2 {
    color: #ec1c89; /* Colore del titolo */
    margin-bottom: 40px; /* Margine inferiore */
}

.steps {
    display: flex; /* Usa il layout flex */
    justify-content: space-around; /* Distribuisce gli elementi */
    flex-wrap: wrap; /* Permette il wrapping degli elementi */
}

.step {
    flex: 1; /* Flessibilità degli elementi */
    min-width: 200px; /* Larghezza minima */
    margin: 10px; /* Margine intorno agli elementi */
    text-align: center; /* Testo centrato */
}

.step-number {
    font-size: 36px; /* Dimensione del numero */
    color: #ec1c89; /* Colore del numero */
    display: block; /* Visualizzazione come blocco */
    margin-bottom: 10px; /* Margine inferiore */
}

.step h3 {
    font-size: 24px; /* Dimensione del titolo */
    margin-bottom: 10px; /* Margine inferiore */
}

.step p {
    font-size: 18px; /* Dimensione del testo */
    color: #333; /* Colore del testo */
}

/* Box di prenotazione */
.booking-box {
    background-color: #fff; /* Sfondo bianco */
    padding: 40px; /* Padding interno */
    max-width: 600px; /* Larghezza massima */
    margin: 0 auto; /* Centra l'elemento */
    border-radius: 8px; /* Angoli arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombreggiatura */
    text-align: left; /* Testo allineato a sinistra */
}

.booking-box h2 {
    color: #ec1c89; /* Colore del titolo */
    margin-bottom: 20px; /* Margine inferiore */
    text-align: center; /* Testo centrato */
}

.booking-box label {
    font-size: 18px; /* Dimensione del testo */
    color: #333; /* Colore del testo */
    display: block; /* Visualizzazione come blocco */
    margin-bottom: 5px; /* Margine inferiore */
}

.booking-box select,
.booking-box input[type="date"],
.booking-box textarea {
    width: 100%; /* Larghezza completa */
    padding: 10px; /* Padding interno */
    margin-bottom: 20px; /* Margine inferiore */
    border: 1px solid #ccc; /* Bordo */
    border-radius: 4px; /* Angoli arrotondati */
}

.booking-box button {
    background-color: #ec1c89; /* Sfondo del bottone */
    color: #fff; /* Colore del testo */
    padding: 10px 20px; /* Padding interno */
    border: none; /* Rimuove i bordi */
    border-radius: 4px; /* Angoli arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio */
    font-size: 18px; /* Dimensione del testo */
    display: block; /* Visualizzazione come blocco */
    width: 100%; /* Larghezza completa */
    text-align: center; /* Testo centrato */
}

.booking-box button:hover {
    background-color: #d81b74; /* Colore al passaggio del mouse */
}

/* Informazioni di contatto */
.contact-info {
    display: flex; /* Usa il layout flex */
    justify-content: center; /* Allinea al centro orizzontalmente */
    align-items: center; /* Allinea al centro verticalmente */
    flex-direction: column; /* Dispone gli elementi in colonna */
    margin-top: 20px; /* Margine superiore */
}

.social-media,
.phone-number {
    display: flex; /* Usa il layout flex */
    align-items: center; /* Allinea gli elementi al centro */
    margin-bottom: 10px; /* Margine inferiore */
}

.social-logo,
.phone-logo {
    width: 50px; /* Larghezza dell'icona */
    height: auto; /* Mantiene le proporzioni */
    animation: bounce 2s infinite; /* Aggiunge un'animazione */
}

.social-media p,
.phone-number p {
    font-size: 18px; /* Dimensione del testo */
    color: #333; /* Colore del testo */
}

/* Animazione */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posizione iniziale */
    }
    40% {
        transform: translateY(-20px); /* Salto verso l'alto */
    }
    60% {
        transform: translateY(-15px); /* Rimbalzo verso l'alto */
    }
}

/* Menu a tendina per mobile */
.menu-toggle {
    display: none; /* Nasconde il toggle per default */
    flex-direction: column; /* Dispone gli elementi in colonna */
    cursor: pointer; /* Cambia il cursore al passaggio */
}

.menu-toggle .bar {
    height: 3px; /* Altezza delle barre */
    width: 25px; /* Larghezza delle barre */
    background-color: #333; /* Colore delle barre */
    margin: 4px 0; /* Spaziatura tra le barre */
    transition: all 0.3s ease; /* Aggiunge una transizione */
}


/* Nascondi il menu per default */
.nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
}

/* Mostra il menu quando la classe "active" è aggiunta */
.nav-links.active {
    display: flex;
}

/* Mostra l'icona del menu nella visualizzazione mobile */
.menu-icon {
    display: block;
}




/* Responsive Design */


@media (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .menu-icon {
        display: none;
    }
}



/* Stili per la visualizzazione su dispositivi mobili (max-width: 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Dispone gli elementi in riga */
    }

    .navbar .nav-links {
        display: none; /* Nasconde i link di default */
        flex-direction: column; /* Dispone i link in colonna */
        width: 100%; /* Larghezza completa */
        position: absolute; /* Posizione assoluta */
        top: 100px; /* Posiziona sotto l'header */
        left: 0; /* Allinea a sinistra */
        background-color: blue; /* Sfondo blu */
        z-index: 1; /* Sovrappone agli altri elementi */
    }

    .navbar .nav-links.active {
        display: flex; /* Mostra i link quando attivo */
    }

    .navbar .menu-icon {
        display: block; /* Mostra l'icona del menu */
        z-index: 2; /* Sovrappone agli altri elementi */
        position: relative; /* Posiziona relativamente */
    }

    #esperienze {
        display: none; /* Nasconde la sezione esperienze su mobile */
    }

    .slider-section {
        display: block; /* Mostra la sezione slider su mobile */
    }

    .how-it-works {
        padding: 20px; /* Riduce il padding interno */
        text-align: left; /* Testo allineato a sinistra */
    }

    .steps {
        display: flex; /* Usa il layout flex */
        flex-direction: column; /* Dispone gli step in colonna */
    }

    .step {
        display: flex; /* Usa il layout flex */
        align-items: flex-start; /* Allinea gli elementi in alto */
        margin-bottom: 20px; /* Margine inferiore */
        text-align: left; /* Testo allineato a sinistra */
    }

    .step-number {
        font-size: 24px; /* Riduce la dimensione del numero */
        margin-right: 15px; /* Margine destro */
        margin-bottom: 0; /* Rimuove il margine inferiore */
    }

    .step h3 {
        font-size: 20px; /* Riduce la dimensione del titolo */
        margin: 0; /* Rimuove i margini */
    }

    .step p {
        font-size: 16px; /* Riduce la dimensione del testo */
        margin-top: 5px; /* Aggiunge un piccolo margine superiore */
    }

}
